@import '../../../dep/est/src/all.less';

.map-box {
    .size(380px, 450px);
}

@item-height: 32px;

.map-item {
    font-size: 16px;
    height: @item-height;
    line-height: @item-height;
    white-space: nowrap;
    -moz-user-select: none;

    &-rank {
        position: absolute;
        z-index: 10;
        .size(@item-height);
        .border-radius(@item-height);
        text-align: center;
        color: #fff;
        border: 1px solid #0a57bc;
        background-color: #0664c4;
        line-height: 34px;

        &-hover {
            background-color: #ee552a;
            border-color: #b73b18;
        }

    }

    &-name {
        position: absolute;
        z-index: 5;
        left: 17px;
        padding-left: 23px;
        padding-right: 15px;
        color: #0664c4;
        border: 1px solid #cacaca;
        background-color: #fff;
        font-size: 13px;
        .border-radius(0 @item-height @item-height 0);

        &-hover {
            background-color: #fff6f3;
            color: #ee552a;
            border-color: #deb0a3
        }
        
    }
}