.filter-box {
    height: 56px;

    .filter-select {
        float: left;
        position: relative;

        .filter-select-text {
            float: left;
            padding: 0 14px;
        }

        .filter-list {
            display: none;
            position: absolute;

            a {
                display: block;

                &.on {
                    color: #ee552a;
                }
            }
        }
    }

    .fd {
        margin-right: 10px;
    }

    .sort-bar {
        font-size: 14px;
        width: 425px;
        overflow: hidden;
        line-height: 56px;

        span {
            font-size: 12px;
        }

        a {
            height: 28px;
            line-height: 28px;
            border: 1px solid #ee552a;
            padding: 0 10px;
            font-size: 0;
            .border-radius(2px);

            color: #555;
            border-color: #f7f7f7;
            background: none;
            margin-left: 3px;

            &.on {
                color: #333;
                background-color: #f2f7fc;
                border-color: #0664c4;

                &:hover {
                    background-color: #f2f7fc;
                    border-color: #0664c4;
                }
            }
            &:hover {
                background-color: #fafafa;
                border-color: #ddd;
            }

            i {
                font-size: 12px;
                color: #aeaeae;

                &.fa {
                    margin-left: 5px;
                    vertical-align: middle;
                    font-weight: bold;
                }
            }
        }
    }
}

.filter-box .fd a,
.filter-box .fd span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
