
// 相册显示相关样式
.album-panel {
    float: left;
    .size(107px, 440px);

    img {
        .size(107px, 80px);

        &:hover {
            .opacity(90);
        }
    }

    a.ctrl-btn {
        display: block;
        .size(107px, 24px);

        .dt-ico {
            display: block;
            .size(107px, 24px);
        }
    }

    .ico-arr-top {
        background-position: -244px 0;

        &:hover {
            background-position: -244px -26px;
        }
    }

    .ico-arr-bottom {
        background-position: -244px -52px;

        &:hover {
            background-position: -244px -78px;
        }
    }

    a.disabled {
        cursor: default;

        .ico-arr-top {
            background-position: -244px -104px;
        }

        .ico-arr-bottom {
            background-position: -244px -130px;
        }

        &:hover {
            .ico-arr-top {
                background-position: -244px -104px;
            }

            .ico-arr-bottom {
                background-position: -244px -130px;
            }
        }
    }


    .album-view-wrap {
        padding-top: 14px;
        height: 390px - 14px;
        overflow: hidden;
        position: relative;
    }

    ul {
        position: absolute;
        
        li {
            .size(107px, 80px);
            padding-bottom: 8px;
            position: relative;

            a {
                position: absolute;
                display: block;
                border: 3px solid #fff;
                .size(101px, 74px);
                overflow: hidden;
                z-index: 10;
            }

            iframe {
                position: absolute;
                z-index: 0;
            }
        }

        li.on {
            a {
                border-color: #262626;
            }
        }
    }
}

@img-large-height: 440px;
@img-large-width: 570px;

// large picture
.pic-panel {
    float: right;
    position: relative;
    .size(@img-large-width, @img-large-height);

    &-main {
        .size(@img-large-width, @img-large-height);
        position: relative;
        z-index: 1;
    }

    &-hover {
        .pic-panel-ctrl {
            display: block;
        }
    }

    &-ctrl {
        display: none;
        position: absolute;
        z-index: 10;
        width: 130px;
        height: @img-large-height;
        cursor: pointer;

        i {
            margin-top: 185px;
            display: block;
            background: url(./img/detail-album-ctrl.png) no-repeat;
            .size(50px, 82px);
            .opacity(30);
        }

        &-prev {
            left: 0;

            i {
                float: left;
                margin-left: 25px;
            }

        }

        &-next {
            right: 0;

            i {
                float: right;
                margin-right: 25px;
                background-position: -50px 0;
            }
        }

        &:hover {
            i {
                .opacity(90);
            }
        }

    }

    .disabled {
        i {
            display: none;
        }
    }

    img {
        .size(@img-large-width, @img-large-height);
    }
}